@charset "UTF-8";

@import "functions";
@import "variables";

// Mixins
@import "mixins";


.main{
    &-container{

    }

    &-section{
        .section-inner{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: calc( 100% - $nav-height);
            margin-top: $nav-height;

            &>*{
                width: 100%;
            }
        }

        .sect-hd{
            margin-bottom: rem(60);
            text-align: center;

            .tit{
                font-size: rem(30);
                font-weight: 400;

                strong{
                    font-weight: 800;
                }
                    
                span{
                    color: $color-1;
                }
            }

            .txt{
                margin-top: .25em;
                font-size: rem(20);
                color: $gray-6;
            }
        }
        
        &.ms1{
            .section-inner{
                margin-top: 0;
                height: 100%;
            }

            .swiper-visual{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .swiper-slide-active{
                    .img-area img{
                        transform: scale(1.18);
                    }

                    .txt-area > * > span{
                        opacity: 1;
                        transform: translateY(0%);
                    }
                }
            }

            .item{
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                
                &:focus-visible{
                    border: 2px solid
                }
            }

            .container{
                height: 100%;
            }

            .img-area{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover;
                    transition: transform 6s ease;
                }
            }
            
            .txt-area{
                position: absolute;
                bottom: rem(90);
                font-weight: 600;
                font-size: rem(140);
                color: #fff;
                line-height: 1.192857;

                .sub{
                    margin-bottom: 1em;
                    font-weight: 500;
                    font-size: rem(40);
                    line-height: 1.2;

                    & > span{
                        transition: all 1s .2s ease;
                    }
                }

                .tit span{
                    transition: all 1.5s .3s ease;
                }

                & > *{
                    overflow: hidden;

                    & > span{
                        display: inline-block;
                        opacity: 0;
                        transform: translateY(100%);
                    }
                }
            }
            
            .swiper-indicator {
                left: 50%;
                bottom: rem(562);
                z-index: 10;
                max-width: 1480px;
                padding: 0 20px;
                transform: translateX(-50%);
                font-size: 20px;

                .swiper-pagination{
                    width: rem(324);
                }
            }
        }


        .swiper-indicator {
            position: absolute;
            width: 100%;
            left: 50%;
            bottom: rem(562);
            z-index: 11;
            max-width: 1480px;
            padding: 0 20px;
            transform: translateX(-50%);
            font-size: 20px;
            font-weight: 600;
            color: #fff;

            .swiper-pagination{
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                bottom: unset;
                width: rem(324);
                text-align: left;

                .total{
                    color: rgba(255, 255, 255, 0.4);
                }
            }
        }

        .autoplay-progress {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            margin: 0 rem(60);
            width: 14.875rem;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.4);

            svg {
                --progress: 0;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                width: 100%;
                stroke-width: 1px;
                stroke: #fff;
                fill: none;
                stroke-dashoffset: calc(100 * (1 - var(--progress)));
                stroke-dasharray: 100;
            }
        }

        &.ms2{
            .section-inner{
                background-color: #FAFAFA;
            }

            .board-control{
                margin-bottom: rem(40);

                .category-list{
                    display: flex;
                    align-items: center;
                    gap: rem(20);
                    padding-top: 2px;
                    padding-bottom: 2px;

                    a{
                        display: inline-block;
                        position: relative;
                        padding: 14px 20px;
                        border-radius: rem(60);
                        border: 1px solid #222;
                        background: #fff;
                        font-weight: 600;
                        color: #222;
                        font-size: rem(18);
                        line-height: 1.167;
                        white-space: nowrap;
                        transition: .25s;

                        &:hover,
                        &:active{
                            background-color: #fafafa;
                        }

                        &.on{
                            border-color: #F9C032;
                            background-color: #F9C032;
                            pointer-events: none;
                        }
                    }
                }
            }

            .swiper-board{
                margin: 0 auto 0 0;
                width: 24.167rem;
                height: rem(404);
                overflow: visible;

                .link{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: rem(40);
                    padding: rem(30);
                    border-radius: rem(20);
                    background-color: #fff;
                    overflow: hidden;
                    pointer-events: none;
                    transition: .35s;
                }

                .txt-area{
                    max-width: 100%;
                
                    .sub{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        font-size: rem(16);
                        word-wrap: break-word;
                        word-break: break-all;
                        line-height: calc( 1.875rem * 1.2 );
                        white-space: nowrap;

                        & + .tit{
                            -webkit-line-clamp: 2;
                            height: 2.4em;
                        }
                    }

                    .tit{
                        font-weight: 400;
                        font-size: rem(30);
                        line-height: 1.2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        height: 3.6em;
                        word-wrap: break-word;
                        word-break: break-all;
                    }
                }

                .btn-link{
                    width: 100%;
                    font-size: rem(14);
                    color: #0062ff;
                    text-decoration: underline;

                }

                
                .swiper-slide{
                    opacity: 0;

                    &-active,
                    &-next,
                    &-next + *,
                    &-next + * + *{
                        opacity: 1;
                    }
                }

                .swiper-slide-active{
                    .link{
                        padding: rem(40) rem(50);
                        background-color: #FFF1D9;
                        pointer-events: auto;
                    }

                    .txt-area{
                        .sub{
                            margin-bottom: 0.5rem;
                            font-size: rem(20);

                            & + .tit{
                                -webkit-line-clamp: 3;
                                height: 3.6em;
                            }
                        }
                    }

                    .tit{
                        font-weight: 600;
                        font-size: rem(40);
                        -webkit-line-clamp: 4;
                        height: 4.8em;

                    }

                    .cate{
                        background-color: #fff;
                    }
                }

                .swiper-navigation{
                    display: flex;
                    gap: 10px;
                    position: absolute;
                    left: calc(24.167rem + rem(24));
                    bottom: 0;
                    height: rem(40);

                    .swiper-button-next, .swiper-button-prev{
                        position: relative;
                        top: unset;
                        right: unset;
                        left: unset;
                        margin: 0;
                        width: rem(40);
                        height: 100%;
                        background:url(../images/main/icon_swiper_board_arr.svg) no-repeat center / cover;

                        &:after{
                            display: none;
                        }
                        
                        &.swiper-button-disabled{
                            background-image:url(../images/main/icon_swiper_board_arr_disabled.svg);
                            opacity: 1;
                        }
                    }
                    .swiper-button-next{
                        transform: scale(-1, 1);
                    }
                }
            }
            
            .swiper-banner{
                margin-top: rem(40);
                
                .link{
                    display: block;

                    &:focus-visible{
                        border: 2px solid;
                    }
                }

                .swiper-indicator{
                    bottom: 2.0833vw;
                    left: 6.5%;
                    max-width: none;
                    font-size: rem(14);
                    transform: none;

                    .swiper-pagination{
                        width: rem(180);
                    }
                }

                .autoplay-progress{    
                    width: 100px;
                    margin: 0 60px;
                }
            }
        }

        &.ms3{
            .section-inner > *{
                padding: 6.985vh 0;
            }

            .sect-menu{
                flex: 0 0 auto;
                background: #FAFAFA;
            }

            .swiper-menu{
                overflow: visible;
                
                .link{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: rem(10);
                    padding: rem(20);
                    border: 1px solid transparent;
                    border-radius: rem(20);
                    box-shadow: 0 0 rem(30) 0 transparent;
                    background: #fff;
                    text-align: center;
                    transition: .35s;

                    i{
                        width: rem(60);
                        height: rem(60);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100% auto;
                        transition: .35s;

                        @for $i from 1 to 8 {
                            &.icon-menu0#{$i} {
                                background-image: url(../images/main/icon_menu0#{$i}.svg);
                            }
                        }
                    }

                    span{
                        display: block;
                        font-size: 1rem;
                        font-weight: 600;
                        line-height: 1.1875;
                    }

                    &:hover{
                        border-color: #EFEFEF;
                        box-shadow: 0 0 rem(30) 0 rgba(0, 0, 0, 0.07);

                        i{
                            @for $i from 1 to 8 {
                                &.icon-menu0#{$i} {
                                background-image: url(../images/main/icon_menu0#{$i}_hover.svg);
                                }
                            }
                        }
                    }
                }

                .swiper-navigation [class^=swiper-button]{
                    width: 32px;
                    height: 32px;
                    margin: 0;
                    border-radius: 50%;
                    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
                    background-size: cover;
                    background-image: url(../images/main/icon_swiper_board_arr.svg);
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: translateY(-50%);
        
                    &:after{
                        display: none;
                    }

                    &.swiper-button-disabled{
                        background-image:url(../images/main/icon_swiper_board_arr_disabled.svg);
                        opacity: 1;
                    }
        
                    &.swiper-button-next{
                        transform: translateY(-50%) scale(-1, 1);
                    }
                }
            }

            .sect-event{
                flex: 1;

                .item{
                    display: block;
                    position: relative;
                    border-radius: rem(20);
                    overflow: hidden;
                    
                    &:focus-visible{
                        border: 2px solid;
                        outline: 0;
                        box-shadow: none;
                    }

                    &:before{
                        content:'';
                        display: block;
                        padding-top: 128.655%;
                    }
                   
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .cover{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        padding: 20px rem(48);
                        background: rgba(0,0,0,.8);
                        transition: .35s;
                        color: #fff;
                        opacity: 0;

                        .tit{
                            font-weight: 600;
                            font-size: rem(30);
                            line-height: 1.334;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }   

                        .sub{
                            margin-top: rem(32);
                            font-size: rem(20);
                            font-weight: 400;
                            text-align: center;
                            line-height: 1.4;
                        }
                    }

                    &:hover{
                        .cover{
                            opacity: 1;
                        }
                    }

                    @include mdq-max(lg) {
                        .cover{
                            .tit{
                                font-size: 24px;
                            }

                            .txt{
                                font-size: 16px;
                            }
                        }
                        
                        @media(hover: hover) and (pointer: fine) {
                            .cover{
                                opacity: 1;
                            }
                        }
                    }
                    
                    @include mdq-max(md) {
                        .cover{
                            & > *{
                                max-width: 170px;
                                margin: 0 auto;
                            }

                            .tit{
                                font-size: 18px;
                            }
    
                            .txt{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        &.ms4{
            .support-list{
                display: flex;
                gap: rem(24);
                width: 100%;
                height: 57.142857vh;

                .item{
                    position: relative;
                    flex-grow: 0;
                    width: 15.278%;
                    height: 100%;
                    transition: all 1.25s ease;
                    overflow: hidden;

                    &:first-child .img-area{
                        background-image: url(../images/main/support_img01.jpg);
                        background-position: right 23% center;
                    }
                    &:nth-child(2) .img-area{
                        background-image: url(../images/main/support_img02.jpg);
                        background-position: right 54% center;
                    }
                    &:nth-child(3) .img-area{
                        background-image: url(../images/main/support_img03.jpg);
                    }
                
                    &.active{
                        flex-grow: 1;

                        .img-area{
                            filter: grayscale(0);
                            background-position: right center;

                            &:after{
                                opacity: 0;
                            }
                        }
                        
                        .txt-area {
                            padding: rem(60) rem(52);

                            &:before{
                                opacity: 1;
                            }

                            & > *{
                                color: #222;
                            }

                            .sub{
                                opacity: 1;
                            }
                            
                            .tit{
                                font-size: rem(40);
                            }

                            .link-btn{
                                opacity: 1;
                            }
                        }
                    }
                }

                .link{
                    display: block;
                    position: relative;
                    height: 100%;
                    border-radius: rem(20);
                    overflow: hidden;
                }

                .img-area{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: grayscale(90%);
                    transition: all 0.35s;

                    &:after{
                        content:'';
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.4);
                        transition: all 0.45s 0.05s;
                    }
                }

                .txt-area{
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: 100%;
                    height: 100%;
                    padding: rem(60) rem(20);
                    transition: all .35s;

                    &:before{
                        content:'';
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 240, 207, 0.90);
                        backdrop-filter: blur(5px);
                        opacity: 0;
                        transition: all 0.45s 0.05s;
                    }

                    & > *{
                        position: relative;
                        color: #fff;
                        transition: color 0.45s 0.05s, opacity .35s;
                    }

                    .sub{
                        display: inline-block;
                        margin-bottom: rem(20);
                        font-size: rem(22);
                        font-weight: 700;
                        opacity: .7;
                    }

                    .tit{
                        font-size: rem(20);
                        font-weight: 500;
                        line-height: 1.3;
                        white-space: nowrap;
                    }
                    
                    .link-btn{
                        display: inline-flex;
                        align-items: center;
                        gap: 8px;
                        margin-top: rem(50);
                        font-size: rem(14);
                        font-weight: 500;
                        line-height: 1;
                        opacity: 0;

                        .icon-link-arr{
                            width: rem(19);
                            height: rem(15);
                            background-image: url(../images/main/icon_link_arr.svg);
                            transition: all .35s;
                        }
                    }
                }

                    
            }
        }
    }
}

[lang="en"], .translated-ltr{
    .util {
        .btn-srch, .btn-sitemap{
            display: none;
       }
    }
}

@include mdq-max(xxl) {
    body:not(.is-scroll){
        .logo-color{
          display: none;
        }
    
        .logo-wh{
          display: block;
        }
    
        .nav .depth-1>.link{
          color: #fff;
        }
    
        .util {
          .btn-srch{
            background-image: url(../../assets/images/common/icon_srch_wh.svg);
          }
          .btn-sitemap{
            background-image: url(../../assets/images/common/icon_sitemap_wh.svg);
          }
        }

        .nav-mobile__btn{
            color: #fff;
        }
    }

    .fp-section.fp-table, .fp-slide.fp-table, .fp-tableCell{
        height: auto !important;
    }

    .main-section{
        .section-inner{
            height: auto;
            margin-top: 0;
            padding-bottom: 70px;
        }

        &.ms1{
            .section-inner{
                padding-bottom: 0;
                height: 100vh;
            }

            .txt-area{
                font-size: 7.2916vw;
            
                .sub{
                    font-size: 24px;
                }
            }

            .swiper-indicator{
                bottom: calc(48px + 20.2916vw + 70px);
            }
        }

        &.ms2 {
            .section-inner{
                padding-top: 70px;
                padding-bottom: 0;
            }

            .board-control .category-list{
                gap: 12px;
                overflow-x: auto;
                margin-right: -20px;
                margin-left: -20px;
                padding-right: 20px;
                padding-left: 20px;
            
                a{
                    padding: 10px 16px;
                    font-size: 13px;
                }
            }
        }
        
        &.ms3{
            .section-inner{
                padding-bottom: 0;

                & > *{
                    padding: 100px 0;
                }
            }

            .sect-menu .menu-list .link i{
                @for $i from 1 to 8 {
                    &.icon-menu0#{$i} {
                    background-image: url(../images/main/icon_menu0#{$i}_hover.svg);
                    }
                }
            }
        }

        &.ms4 .support-list {
            gap: 20px;
            height: auto;

            .item{
                width: 100%;
                height: auto;
                
                .link{    
                    display: flex;
                    flex-direction: column;

                    .img-area{
                        position: relative;
                        height: 12rem;
                        filter: grayscale(0) blur(0);
                        background-position: right center;
                    }

                    .txt-area{
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        position: relative;
                        top: unset;
                        left: unset;
                        width: 100%;
                        padding: 20px;

                        &>*{
                            color: #222;
                        }
    
                        .sub{
                            font-size: 16px;
                            opacity: 1;
                        }
    
                        .tit{
                            flex: 1;
                            font-size: 20px;
                            white-space: unset;
                        }
    
                        .link-btn{
                            margin-top: 30px;
                            opacity: 1;
                        }

                        &:before{
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }
}

@include mdq-max(xl) {
    .main-section{
        &.ms3{
            .section-inner>* {
                padding: 70px 0;
            }

            .swiper-menu {
                padding: 24px 60px;

                .swiper-slide{
                    width: auto !important;
                }

                .link {        
                    width: 110px;
                    padding: 1.25rem 1rem;
                    gap: 10px;
                    font-size: 14px;
                    
                    i{
                        width: 40px;
                        height: 40px;
                        background-size: 100% auto;
                    }
                }
            }
        }
    }
}

@include mdq-max(md) {
    .main-section{
        &.ms2{
           
            .swiper-banner{
                margin-top: 60px;
            }
        }

        &.ms3 { 
            .section-inner>* {
                padding: 50px 0;
            }
        }

        &.ms4 .support-list {
            flex-direction: column;

            .link{
                border-radius: 12px;
            }

            .item .link .txt-area {
                .tit{
                    font-size: 18px;
                    font-weight: 400;
                }

                .sub {
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .link-btn{
                    margin-top: 24px;
                }
            }
        }
    }
}

@include mdq-max(sm) {
    .main-section{
        &.ms1{
            .txt-area{
                font-size: 36px;
            
                .sub{
                    font-size: 19px;
                }
            }

            .swiper-indicator{
                bottom: 220px;
                font-size: 14px;

                .swiper-pagination {
                    width: 120px;
                }

                .autoplay-progress {
                    width: 60px;
                }
            }
        }

        &.ms2{
            .swiper-board {
                width: 64vw;
                height: 278px;

                .swiper-navigation{
                    left: calc(64vw + 16px);
                    gap: 5px;
                    height: 24px;

                    .swiper-button-prev,
                    .swiper-button-next{
                        width: 24px;
                    }
                }
                
                .swiper-slide-active{
                    .link{
                        height: 100%;
                        padding: 24px;
                    }
                    
                    .txt-area {
                        .sub{
                            font-size: 14px;
                        }

                        .tit{
                            font-size: 21px;
                        }
                    }
                }

                .txt-area {
                    .sub{
                        font-size: 12px;
                    }

                    .tit{
                        font-size: 18px;
                    }
                }

                .btn-link{
                    font-size: 12px;
                }

            }

        }

        .sect-hd{
            margin-bottom: 40px;
            text-align: left;

            .tit{
                font-size: 21px;
            }

            .txt{
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }
}

@include mdq-min(xxl) {
    .main-section{
        display: flex;
        align-items: center;
    }

    .main-body.fp-viewing-firstSection .header:not(.gnb-hover){
        background-color: transparent;

        .logo-color{
            display: none;
        }
    
        .logo-wh{
            display: block;
        }
    
        .nav .depth-1>.link{
            color: #fff;
        }
    
        .util {
            .btn-srch{
            background-image: url(../../assets/images/common/icon_srch_wh.svg);
            }
            .btn-sitemap{
            background-image: url(../../assets/images/common/icon_sitemap_wh.svg);
            }
        }
    }

    .main-body .header{
        background-color: #fff;
    }

    #lnb {
        position: fixed;
        top: 50%;
        left: 40px;
        z-index: 100;
        transform: translateY(-50%);
    }
}    
