@charset "UTF-8";

@mixin badge-variant($name, $color) {
  color: color-yiq($color);
  background-color: $color;
}

.badge {
  display: inline-block;
  padding: 0.5em 0.7125em;
  border-radius: 30px;
  background-color: #F7F7F7;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.2143;

  &.border-gray{
    background-color: #fff !important;
    border-color: #C6C6C6 !important;
  }

  &.bg-blue{
    background-color: #1C7BBD !important;
    border-color: #1C7BBD !important;
    color: #fff !important;
    font-weight: 600 !important;
  }
  
  &.bg-green{
    background-color: #45B453 !important;
    border-color: #45B453 !important;
    color: #fff !important;
    font-weight: 600 !important;
  }

  &.bg-gray{
    background-color: #666 !important;
    border-color: #666 !important;
    color: #fff !important;
    font-weight: 600 !important;
  }
}

@each $name, $color in $theme-colors {
  .badge-#{$name} {
    @include badge-variant($name, $color);
  }
}